
:root{
    --main-color:#db8b2a;
    --black:#000000f6;
    --bg:#030329;
    --border:.1rem solid #db8b2a;
}

header .one{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 8px;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7% 2px;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(bg9.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
    
}
.home .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 3rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.explore .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.explore .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.explore .box-container .box img{
    height: 15rem;
}

.explore .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.explore .box-container .box:hover{
    background:#fff;
}

.explore .box-container .box:hover > *{
    color:var(--black);
}


.News .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.News .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.News .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.News .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}
.News .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}
.News .box-container .box .newsimg{
    width: 300px;
    height: 200px;
}



.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.Festivals .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.Festivals  .box-container .box{
    border:var(--border);    
}

.Festivals  .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.Festivals  .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Festivals  .box-container .box:hover .image img{
    transform: scale(1.2);
}

.Festivals  .box-container .box .content{
    padding:2rem;
}

.Festivals  .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.Festivals  .box-container .box .content .title:hover{
    color:var(--main-color);
}

.Festivals  .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.Festivals  .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.planbody{
    padding: 180px;
}

.todo {
    width: 360px;
    margin: 0 auto;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .app-head {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container .btn {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todobtn {
    background-color: #d9534f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    .navbar{
        padding: 5rem 2rem;
    }

}

@media (max-width:450px){

    #menu-btn{
        display: inline-block;
    }


    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width:0.5rem;
        height: calc(20vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:2rem;
        font-size: 0.1rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

       .todo {
    width: 100%;
  }

  .box-container {
    border-radius: 0;
    padding: 10px;
  }

  .app-head {
    text-align: left;
    margin-bottom: 10px;
  }

  .task-input {
    width: 100%;
    padding: 5px;
    border: none;
  }

  .btn {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }

  .todobtn {
    background-color: #d9534f;
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }

}



